body{
    background-color: black;
}


#simonHeader{
    color: red;
    text-align: center;
    font-size: 1.7rem;
}


#wrapper{
    justify-content: center;
    display: flex;
    width: 500px;
    height: 400px;
    flex-wrap: wrap;
    margin: auto;
    
}


.flexStyle{
    width:200px;
}


#redButton{
    background-color: red;
    opacity: .25;
    border-top-left-radius: 200px;
    order: 0;
    border: 10px solid black;
}


#blueButton{
    background-color: blue;
    opacity: .25;
    border-top-right-radius: 200px;
    order: 1;
    border: 10px solid black;
}


#greenButton{
    background-color: green;
    opacity: .25;
    border-bottom-left-radius: 200px;
    order: 2;
    border: 10px solid black;
}


#orangeButton{
    background-color: orange;
    opacity: .25;
    border: 10px solid black;
    border-bottom-right-radius: 200px;
    order:3;
}


#centerCircle{
    background-color: grey;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: auto;
    bottom: 320px;
    border: 20px solid black;
    color: white;
    text-align: center;
}
