.ticTacToeBorder{
    text-align: center;
    height: 500px;
    width: 500px;
}
.btn{
    height: 150px;
    width:  150px;
    font-size: 100px;
    cursor: crosshair;
    /* cursor: url(/img/teal-1.png), auto; */
}
